@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: lightblue;
    width: 100%;
    position: fixed;
    display: flex;
    padding: 15px;
    z-index: 99;
    align-items: baseline;
    justify-content: space-between;
}
header a {
    text-decoration: none;
    margin: 2px;
    padding: 2px;
    color: #ffffff;
}

.active {
    border-bottom: 1px solid #ffffff;
}

#book-btn {
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
}

/* Main section1 */
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding-top: 28px;
}

#front-img {
    height: 500px;
    width: 100%;
    background: url(../images/front-img.jpg) no-repeat center center/cover;
    position: relative;
}

#front-txt {
    position: absolute;
    font-size: 150%;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    width: 100%;
    height: 100%;
}
#front-txt > h2 {
    padding-top: 10rem;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
}

#front-txt > i {
    padding-top: 15rem;
    color: #ffffff;
}

/* section2 */

#founder-section {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

#founder-txt {
    border: solid;
    
}

#founder-txt h2 {
    padding: 20px;
}


#founder-txt p {
    text-align: left;
    margin: 20px;
    padding: 20px;
}

.about {
    width: 90%;
    margin: 20px auto;
    text-align: center;

}

.about-icon {
    width: 50%;
    margin: auto;
    padding: 30px;
    font-size: 20px;
    
}

#founder {
    background: url(../images/Founder.jpg) no-repeat top center/cover;
    border-radius: 50%;
    width: 60vw;
    height: 60vw;
    margin: 60px;
}

/*section3*/

.service {
    margin: 30px;
    
}
.service div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-txts {
    text-align: center;
    background-color: rgb(96, 105, 108);
    color: #ffffff;
    padding: 20px;
}


#classic {
    background: url(../images/classic.jpg) no-repeat top center/cover;
    width: 80vw;
    height: 80vw;
    margin: auto;
    
}

#pregnat {
    background: url(../images/pregnant.jpg) no-repeat top center/cover;
    width: 80vw;
    height: 80vw;
    margin: auto;
    
}

#lymphatic {
    background: url(../images/lymphatic.jpg) no-repeat top center/cover;
    width: 80vw;
    height: 80vw;
    margin: auto;
    
}

/* Book-side */
#front-button {
    background: url(../images/front-book.jpg) no-repeat top center/cover;
    width: 100%;
    height: 400px;
}

#book2 {
    background-color: rgb(96, 105, 108);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#book-price h3 {
    padding-top: 20px;
}

.book2-btn {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border: solid rgb(96, 105, 108);
    border-radius: 10px;
    background-color: lightblue;
    padding: 10px 20px;
}

.book2-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-price > div {
    line-height: 20px;
    margin-bottom: 20px;
}

/*Footer*/

footer {
    background-color: lightblue;
    text-align: center;
    color: white;
    height: 50vh;
    margin-top: 20px;
}

#find {
    padding-top: 20px;
}

.open-info {
    padding-top: 10px;
}

.open-info p {
    padding: 5px;
}

#socials {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    padding: 15px;
}

#copy {
    padding-top: 10px;
}

@media screen and (min-width: 768px) {
    header a {
        padding: 0 20px;
    }

    #front-txt h2 {
        font-size: 32px;
        text-align: center;
        padding: 8rem 70px 0 70px;
    }

    #founder {
        border-radius: 500px 500px 0 0;
        width: 325px;
        height: 500px;
        float: left;
    }

    #founder-tab {
        
        margin-top: 50px;
        padding-bottom: 90px;
    }

    #founder-txt {
        padding-top: 80px;
        padding-bottom: 40px;
        margin-bottom: -60px;
    }

    #founder-txt h2, h4 {
        text-align: left;

    }

    .about h3 {
        font-size: 20px;
    }

    #service-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        
    }

    #classic {
        width: 40vw;
        height: 30vw;
    }
    
    #pregnat {
        width: 40vw;
        height: 30vw;
    }
    
    #lymphatic {
        width: 40vw;
        height: 30vw;
    }

    .service-txts {
        width: 40vw;
    }

    footer {
        padding-top: 40px;
    }

    #find {
        padding: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    }

    .open-info p {
        padding: 10px;
    }

    #copy {
        padding-top: 20px;
    }
}

@media screen and (min-width: 992px) {
    a:hover {
        color: rgb(96, 105, 108);
    }

    #front-txt h2 {
        font-size: 40px;
    }
    
    #front-txt {
        width: 80%;
        padding-top: 2rem;
    }

    #background {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    #founder-section {
       display: flex;
       margin-bottom: 0;
    }

    #founder {
        height: 600px;
        width: 400px;
        border-radius: 500px 500px 0 0;
        margin-left: 300px;
    }

    #founder-txt {
       height: 600px;
       margin-top: 60px;
       margin-left: 500px;
       margin-right: 300px;
       padding-right: 25px;
    }

    #line1 {
        height: 250px;
            border-right: 1px solid #000900;
            position: absolute;
            right: 35.5%;
    }
    
    #line2 {
        height: 250px;
            border-right: 1px solid #000900;
            position: absolute;
            left: 35.5%;
    }

    .about {
        width: 100%;
    }

    .about h3 {
        font-size: 50px;
        padding-bottom: 80px;
    }

    .about-txt {
        height: 300px;
        width: 300px;
    }

    #row-txt {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        align-items: center;
        margin: auto;
        
    }

    #service-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 85%;
        align-items: center;
        margin: auto;

    }

    #classic {
        height: 350px;
        width: 350px;
        margin-top: 30px;
    }

    #pregnat {
        height: 350px;
        width: 350px;
        margin-top: 30px;
    }

    #lymphatic {
        height: 350px;
        width: 350px;
        margin-top: 30px;
    }

    .service-txts {
        width: 350px;
    }

    footer {
        padding-top: 40px;
    }

    #find {
        padding: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
        width: 80%;
        align-items: center;
        margin: auto;
    }
    
    

    .open-info p {
        padding: 10px;
    }

    #copy {
        padding-top: 90px;
    }

    /*book site*/

    #book2 {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}