* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: lightblue;
    width: 100%;
    position: fixed;
    display: flex;
    padding: 15px;
    z-index: 99;
    align-items: baseline;
    justify-content: space-between;
}
header a {
    text-decoration: none;
    color: #ffffff;
    margin: 2px;
    padding: 2px;
}


a:hover {
    color: black;
}

#menu {
    display: inline-flex;
    margin: 50px;
}

#menu li {
    list-style: none;
    margin: 0 20px;
    color: rgb(201, 56, 56);
    cursor: pointer;
    align-items: center;
}

li a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}

.active {
    border-bottom: 1px solid #ffffff;
}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    display: none;
    padding: 0 1rem;


}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #ffffff;
    position: absolute;
    right: 15px;
    top: 19px;
}

#book-btn {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    right: 50px;
    top: 21px;
}

/* Main section1 */
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#front-img {
    height: 500px;
    width: 100%;
    background: url(../images/front-img.jpg) no-repeat center center/cover;
    position: relative;
}

#front-txt {
    position: absolute;
    font-size: 150%;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    width: 100%;
    height: 100%;
}
#front-txt > h2 {
    padding-top: 10rem;
    color: #ffffff;
}

#front-txt > i {
    padding-top: 15rem;
    color: #ffffff;
}

/* section2 */

#founder-txt {
    border: solid;
}


#p2 {
    text-align: left;
    margin: 20px;
}

.about {
    width: 90%;
    margin: 20px auto;
    text-align: center;

}

.about-icon {
    width: 50%;
    margin: auto;
    padding: 30px;
    font-size: 20px;
    
}

#founder {
    background: url(../images/Founder.jpg) no-repeat top center/cover;
    border-radius: 50%;
    width: 60vw;
    height: 60vw;
    margin: 60px;
}

/*section3*/

.helo {
    margin: 30px;
    
}
.helo div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-txts {
    text-align: center;
    background-color: rgb(96, 105, 108);
    color: #ffffff;
    padding: 20px;
}


#classic {
    background: url(../images/classic.jpg) no-repeat top center/cover;
    width: 80vw;
    height: 80vw;
    margin: auto;
}

#pregnat {
    background: url(../images/pregnant.jpg) no-repeat top center/cover;
    width: 80vw;
    height: 80vw;
    margin: auto;
}

#lymphatic {
    background: url(../images/lymphatic.jpg) no-repeat top center/cover;
    width: 80vw;
    height: 80vw;
    margin: auto;
}

/*Footer*/

footer {
    background-color: lightblue;
    padding: 1em;
    text-align: center;
    margin-top: auto;
    z-index: 3;
    color: white;
    height: 50vh;
}


footer > a {
    color: white;
    text-decoration: none;
    padding: 15px;
    width: 15px;
}

#find {
    margin: 50px;
    padding: 30px;
}

#