* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: lightblue;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 99;
    align-items: baseline;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

a:hover {
    color: black;
}

#menu {
    display: inline-flex;
    margin: 50px;
}

#menu li {
    list-style: none;
    margin: 0 20px;
    color: rgb(201, 56, 56);
    cursor: pointer;
    align-items: center;
}

li a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}

.active {
    border-bottom: 1px solid #ffffff;
}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    display: none;
    padding: 0 1rem;


}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #ffffff;
}

#book-btn {
    text-decoration: none;
    color: #ffffff;
    margin: 10px 10px 20px 10px;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    right: 1;
}

/* Main section */
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#front-img {
    height: 500px;
    width: 100%;
    background: url(../images/front-img.jpg) no-repeat center center/cover;
    position: relative;
}

#front-text {
    position: absolute;
    font-size: 150%;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    width: 100%;
    height: 100%;
}
.muscle-well {
    padding-top: 10rem;
    color: #ffffff;
}


footer {
    background-color: lightblue;
    padding: 1em;
    text-align: center;
    margin-top: auto;
    z-index: 3;
    color: white;
}


footer > a {
    color: white;
    text-decoration: none;
    padding: 15px;
    width: 15px;
}
