@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 h2 h3 h4 {
    font-family: ;
}

header {
    background-color: lightblue;
    width: 100%;
    position: fixed;
    display: flex;
    padding: 15px;
    z-index: 99;
    align-items: baseline;
    justify-content: space-between;
}
header a {
    text-decoration: none;
    color: #ffffff;
    margin: 2px;
    padding: 2px;
}

.active {
    border-bottom: 1px solid #ffffff;
}

#book-btn {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
}

/* Main section1 */
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding-top: 28px;
}

#front-img {
    height: 500px;
    width: 100%;
    background: url(../images/front-img.jpg) no-repeat center center/cover;
    position: relative;
}

#front-txt {
    position: absolute;
    font-size: 150%;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    width: 100%;
    height: 100%;
}
#front-txt > h2 {
    padding-top: 10rem;
    color: #ffffff;
}

#front-txt > i {
    padding-top: 15rem;
    color: #ffffff;
}

/* section2 */

#founder-txt {
    border: solid;
    
}

#founder-txt h2 {
    padding: 20px;
}


#founder-txt p {
    text-align: left;
    margin: 20px;
    padding: 20px;
}

.about {
    width: 90%;
    margin: 20px auto;
    text-align: center;

}

.about-icon {
    width: 50%;
    margin: auto;
    padding: 30px;
    font-size: 20px;
    
}

#founder {
    background: url(../images/Founder.jpg) no-repeat top center/cover;
    border-radius: 50%;
    width: 60vw;
    height: 60vw;
    margin: 60px;
}

/*section3*/

.service {
    margin: 30px;
    
}
.service div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-txts {
    text-align: center;
    background-color: rgb(96, 105, 108);
    color: #ffffff;
    padding: 20px;
}


#classic {
    background: url(../images/classic.jpg) no-repeat top center/cover;
    width: 80vw;
    height: 80vw;
    margin: auto;
}

#pregnat {
    background: url(../images/pregnant.jpg) no-repeat top center/cover;
    width: 80vw;
    height: 80vw;
    margin: auto;
}

#lymphatic {
    background: url(../images/lymphatic.jpg) no-repeat top center/cover;
    width: 80vw;
    height: 80vw;
    margin: auto;
}

/* Book-side */
#front-button {
    background: url(../images/front-book.jpg) no-repeat top center/cover;
    width: 100%;
    height: 400px;
}

#book2 {
    background-color: rgb(96, 105, 108);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#book-price h3 {
    padding-top: 20px;
}

.book2-btn {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border: solid rgb(96, 105, 108);
    border-radius: 10px;
    background-color: lightblue;
    padding: 10px 20px;
}

.book2-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-price > div,
#benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 20px 0;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/*Footer*/

footer {
    background-color: lightblue;
    padding: 1em;
    text-align: center;
    margin-top: auto;
    z-index: 3;
    color: white;
    height: 54vh;
}


footer > a {
    color: white;
    text-decoration: none;
    padding: 15px;
    width: 15px;
}

#find {
    margin: 10px;
    padding: 20px;
}

.open-info {
    padding: 20px;
}

.open-info h3 {
    padding-bottom: 10px;
}

#socials {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#copy {
    padding: 30px;
}

@media screen and (min-width: 768px) {
    header a {
        padding: 0 20px;
    }

    #founder {
        border-radius: 50% 50% 0 0;
        width: 40vw;
        height: 57vw;
        float: left;
    }

    #founder-tab {
        border: solid;
        margin-top: 50px;
        padding-bottom: 90px;
    }

    #founder-txt {
        padding-top: 80px;
    }
}